@import "variables.css";

.statistics-content-wrapper * {
  color: var(--mild-blue);
}

.back {
  justify-content: left;
  width: 100%;
}

.statistics-content-wrapper h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statistics-content-wrapper h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
.statistics-content-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: end;
  flex-direction: column;
}

.content {
  width: 48%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  padding: 1%;
}

.profile-img {
  width: 26vh;
  height: 26vh;

  background-color: none;
  border-radius: 100%;
  object-fit: cover;
  margin: 1vh 0;
}

.data-wrapper {
  width: 92%;
  height: fit-content;

  margin-top: 1vh;

  background-color: var(--white);
  padding: 0 4%;

  border: 1px solid var(--mild-blue);
  border-radius: var(--small-border-radius);

  display: flex;
  justify-content: center;
}

.data-headers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: left;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

ul {
  margin: 1vh 0;
  padding: 0;
}

.data h2 {
  font-weight: normal;
  color: var(--chat-text-color);
  animation: none;
  margin: 0;
}

input[type="file"] {
  display: none;
}

.file-upload {
  width: fit-content;
  font-size: 0.8rem;
  height: 1.6rem;
  padding: 0 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  background-color: var(--mild-blue);

  border-radius: var(--small-border-radius);
  border: none;

  transition: all var(--animation-speed) ease-out;

  &:hover {
    background-color: var(--mild-dark-blue);
    cursor: pointer;
    transition: all var(--animation-speed) ease-in;
  }
}

.change-username-input-field {
  border: 1px solid var(--mild-blue);
  border-radius: var(--small-border-radius);
  color: var(--black);
  padding-left: 10px;
  background-color: var(--white-contrast);
  margin-right: 10px;
  height: 1.4rem;

  &:focus {
    outline-color: var(--mild-blue);
  }
}

.change-username-button {
  border: 1px solid var(--mild-blue);
  border-radius: var(--small-border-radius);
  color: var(--black);
  background-color: var(--white-contrast);

  transition: all var(--animation-speed) ease-out;

  &:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: all var(--animation-speed) ease-in;
  }
}

.change-username-container {
  display: flex;

  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.field-wrapper {
  width: 100%;
  height: fit-content;

  margin-top: 2vh;

  display: flex;
}

.error {
  margin-top: 0.2rem;
  width: 70%;

  font-size: 0.6rem;
  min-height: 0.7rem;
  color: var(--error);
  text-align: left;
  text-shadow: 0px 0px 1px var(--error);
}
